---
interface Props {
    name: string;
    position: string;
    aboutMe: string;
    bluesky: string;
    discord: string;
    instagram: string;
    line: string;
    pixiv: string;
    steam: string;
    telegram: string;
    twitter: string
}

const {name, position, aboutMe, bluesky, discord, instagram, line, pixiv, steam, telegram, twitter } = Astro.props;

import { Image } from 'astro:assets';	  
import profileImage from '/src/images/profile.webp';
---

<div class="container">
    <div class="card-container">
        <div class="mobile-header">
            <h1>{name}</h1>
            <h2>{position}</h2>
        </div>
        <div class="image">
            <Image 
                src={profileImage} 
                class='img-fluid'
                alt="Shiro" 
                loading="eager"
            />
        </div>
        <div class="descripcion">
            <div class="desktop-header">
                <h1>{name}</h1>
                <h2>{position}</h2>
            </div>
            <p>{aboutMe}</p>
            <div class="icons">
                <a href={bluesky} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Bluesky
                    </span>
                    <i class="fa-brands fa-bluesky"></i>
                </a>
                <a href={discord} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Discord
                    </span>
                    <i class="fa-brands fa-discord"></i>
                </a>
                <a href={instagram} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Instagram
                    </span>
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href={line} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Line
                    </span>
                    <i class="fa-brands fa-line"></i>
                </a>
                <a href={pixiv} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Pixiv
                    </span>
                    <i class="fa-brands fa-pixiv"></i>
                </a>
                <a href={steam} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Steam
                    </span>
                    <i class="fa-brands fa-steam"></i>
                </a>
                <a href={telegram} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Telegram
                    </span>
                    <i class="fa-brands fa-telegram"></i>
                </a>
                <a href={twitter} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        Twitter / X
                    </span>
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    /* HEADER */
    .mobile-header { display: block; }
    .desktop-header { display: none; }
    /* CONTAINER */
    .container{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        align-items: center;
        height: 100vh;
    }
    /* CARD */
    .card-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: linear-gradient(to right,#11111b, #181825);
        border-radius: 0.75rem;
        box-shadow: 0.25rem 0.5rem 0.75rem 0.25rem #11111b;
    }
    .image, .descripcion{
        padding: 0.5rem;
    }
    /* IMAGE */
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid{
        width: 90%;
        height: auto;
        border-radius: 100%;
    }
    /* DESCRIPTION */
    h1{
        font-weight: 900;
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    h2{
        font-weight:600;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    p{
        font-weight: 400;
        font-size: 1.5rem;
    }
    /* ICONS */
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons a{
        color: #cdd6f4;
        font-size: 1.85rem;
        transition: .3s;
    }
    a:hover{
        transform: translateY(-5px) scale(1.1);
    }
    /* TOOLTIP */
    .tooltip-text {
        position: absolute;
        top: -3rem;
        left: -50%;
        width: auto;
        color: #cdd6f4;
        font-size: 1.5rem;
        background-color: #313244;
        border-radius: 0.75rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    #fade {
        opacity: 0;
        transition: opacity 0.3s;
    }
    .hover-text:hover #fade { opacity: 1; }
    .hover-text {
        position: relative;
        display: inline-block;
        margin: 0.5rem;
        text-align: center;
    }

    /* Styles for desktop screens (1024px and up) */
    @media only screen and (min-width: 1024px) {
        .mobile-header { display: none; }
        .desktop-header { display: block; }
        .card-container {
            flex-direction: row-reverse;
            width: 60%;
            align-items: center;
        }
        .image, .descripcion{
            padding: 1rem;
        }
        .img-fluid{
            width: 17rem;
        }
        .icons a{
            font-size: 3rem;
        }
        p {
            font-family: 'Noto Color Emoji', 'Roboto', sans-serif;
        }
    }
</style>
